.button {
  font-size: 18px;
  background-color: #fff;
  padding: 6px 30px;
  border: 2px solid purple;
  margin: 0 10px;

  &:hover {
    background-color: rosybrown;
    border: 2px solid rgb(179, 0, 125);
  }

  &:focus {
    background-color: whitesmoke;
  }

  &:active {
    background-color: rgb(221, 153, 255);
    border: 2px solid black;
  }
}